{% extends 'base.html' %}

{% block title %}
<title>События</title>
{% endblock %}


{% block content %}
<div class="header_text">
        <h1>В последнее время:</h1>
</div>
{% for Post in posts %}

    <p></p>
    <section class="post_list">



            <figure class="post_list_image">
                <img src="{{ Post.photo.url }}" width="250" >
            </figure>

            <article class="post_shortcut">
                <div class="post_title">
                <p>{{ Post.title }}</p>
                </div>
                <br>
                <div class="post_content">
                    <p>{{ Post.text }}</p>
                </div>
                <time class = "post_created_date">
                    <p>{{ Post.updated_at }}</p>

                </time>

            </article>
    </section>
{% endfor %}
{% endblock %}
