{% extends 'base.html' %}

{% block title %}
<title>Котаны</title>
{% endblock %}


{% block content %}
<div class="header_text">
        <h1>Подробно о красавцах</h1>
</div>
<p>{{ MEDIA_URL }}</p>

{% for CatCard in cats %}

    <p></p>
    <section class="catss">
            <figure class="catss_image">
                <img src="{{ CatCard.photo.url }}" width="300",height="450" >
            </figure>

            <article class="catss_info">
                <p>Имя: {{ CatCard.name }}</p>
                <p>Окрас: {{ CatCard.color|linebreaksbr }}</p>
                <p>День рождения: {{ CatCard.birthday }}</p>
                <p>Хозяин: {{ CatCard.owner }}</p>
            </article>
    </section>
{% endfor %}
{% endblock %}
